<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="static/style.css" />
        <!-- 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icon.min.css"> -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha512-mRuH7OxetZB1XiSaKZ2fxENKgxVvx3ffpzX0FUcaP6GBqAuqOLc8YiC/3EVTUVt5p5mIRT5D9i4LitZUQKWNCg==" crossorigin="anonymous" />
            <title>Chat Window</title>
    
        </head>
        <body>
            
    
            <section>
                <br>
                <br>
                <h1>Demo RESTful API</h1>
                <br>
                
                <br>
                
                
    
                <button class="chat-btn">
                    <!-- used google material icon for comment -->
                    <i class="material-icons">
                        comment
                    </i>
                </button>
    
                <!-- pop up -->
                <div class="chat-popup">
                    <!-- start red chat badge -->
                    <div class="badge">1</div>
    
                    <!-- inside chat box area -->
                    <div class="chat-area" id="chatId">
                        <div class="income-msg">
                            <!-- <img src="static/img/tom.jpeg" class="avatar" alt=""> -->
                            <span class="msg">Welcome to GuruAcademy</span>
                        </div>
                    </div>
    
                    <!-- input area into chat -->
                    <div class="input-area">
                        <input type="text" tabindex="-1">
                        <button class="submit">
                            <i class="material-icons">
                                send
                            </i>
                        </button>
                    </div>
                </div>
            </section>
    
    
            <!-- javascript libraries -->
            <script type="text/javascript" src="static/main.js"></script>
        </body>
    </html>